altgraph==0.17.4
beautifulsoup4==4.13.4
certifi==2025.4.26
charset-normalizer==3.4.2
geopandas==1.0.1
idna==3.10
joblib==1.5.0
libpysal==4.13.0
macholib==1.16.3
numpy 
pandas
platformdirs==4.3.7
psutil==7.0.0
pyinstaller==6.13.0
pyinstaller-hooks-contrib==2025.4
pyogrio==0.10.0
pyproj==3.7.1
# PyQt5==5.15.11
# PyQt5-Qt5==5.15.16
PyQt5_sip==12.17.0
python-dateutil 
pytz 
requests==2.32.3
scikit-learn==1.6.1
scipy==1.15.2
setuptools==80.3.1
shapely==2.1.0
simpledbf==0.2.6
six 
soupsieve==2.7
spglm==1.1.0
spreg==1.8.2
threadpoolctl==3.6.0
typing_extensions==4.13.2
tzdata 
urllib3==2.4.0
